.primary-button {
  padding: 1.25rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.299rem;
  letter-spacing: 0.111rem;
  text-transform: uppercase;
  text-align: left;
  background-color: $primary-color;
  color: $white-color;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;

  &::after {
    content: url('../../assets/icons/arrow.svg');
  }

  &:hover {
      background-color: darken($primary-color, 20%);
  }
}

.primary-button:disabled {
  background-color: $dark-gray-color;
  cursor: initial;

  &::after {
    content: url('../../assets/icons/arrow-disabled.svg');
  }
}
