$primary-color: #1820ef;
$secondary-color: #ff4e42;
$tertiary-color: #ffc024;

$dark-color: #000000;
$dark-gray-color: #c5c5c5;
$neutral-color: #e0dbbf;
$light-color: #fafaed;
$white-color: #ffffff;

$success-color: #259d57;
$error-color: #b53930;
