h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
h1 .highlight {
  padding-top: 0.688rem;
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 6.25rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.938rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

header > p {
  margin: 1.5rem 1.875rem;
  font-weight: 500;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
h1 .highlight {
  padding-top: 0.688rem;
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 6.25rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.938rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

header > p {
  margin: 1.5rem 1.875rem;
  font-weight: 500;
  line-height: 1.25;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1rem;
  text-align: center;
  background-color: #FAFAED;
  color: #000000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: #FFC024;
}
h1 .highlight {
  color: #FAFAED;
}

h2, h4, h5, h6 {
  color: #000000;
}

h3 {
  color: #1820EF;
}

header {
  height: 100vh;
}

header, main, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
}

main {
  padding: 2.5rem 1rem;
  gap: 3.875rem;
}
main .slider {
  gap: 1.5rem;
}

footer {
  padding-top: 0.5rem;
  padding-bottom: 2.375rem;
}

#logo {
  margin: 1.25rem auto 1.5rem;
  max-width: 100%;
}

#broths p, #proteins p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.default-header, .success-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100vw;
}

.default-header {
  background: #FF4E42 url("../assets/patterns/pattern-vermelha.png") calc(100% + 2.75rem) top/151% repeat;
  color: #FAFAED;
}
.default-header img {
  margin: 0 auto;
  max-width: 100%;
}

.success-header {
  background: #1820EF url("../assets/patterns/pattern-azul.png") calc(100% + 2.75rem) top/151% repeat;
  color: #FAFAED;
}
.success-header img {
  margin: 0 auto;
  max-width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 18rem;
  margin: 0 auto;
}
.slider .slider-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  gap: 1rem;
}
.slider .slider-item {
  min-width: 18rem;
  max-height: 19.75rem;
  padding: 2.5rem 1rem 0.5rem;
  background: #FAFAED;
  -webkit-box-shadow: 0 0.25rem 0.75rem 0 rgba(224, 219, 191, 0.6);
          box-shadow: 0 0.25rem 0.75rem 0 rgba(224, 219, 191, 0.6);
  border-radius: 0.75rem;
  cursor: pointer;
}
.slider .slider-item img {
  padding: 0.5rem 0 0.875rem;
}
.slider .slider-item h6 {
  padding: 0.625rem 0 1.25rem;
}
.slider .slider-item p {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.5rem;
  color: #FF4E42;
}

.slider-container .slider-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}
.slider-container .slider-bullets .bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: #E0DBBF;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
}
.slider-container .slider-bullets .bullet.active {
  width: 2.25rem;
  border-radius: 0.5rem;
  background: #FF4E42;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1820EF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  margin: 0 auto;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.primary-button {
  padding: 1.25rem 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.299rem;
  letter-spacing: 0.111rem;
  text-transform: uppercase;
  text-align: left;
  background-color: #1820EF;
  color: #FFFFFF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.primary-button::after {
  content: url("../../assets/icons/arrow.svg");
}
.primary-button:hover {
  background-color: #0a1097;
}

.primary-button:disabled {
  background-color: #C5C5C5;
  cursor: initial;
}
.primary-button:disabled::after {
  content: url("../../assets/icons/arrow-disabled.svg");
}